body {
  display:wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
  border: 20px;
  border-color: aqua;
  margin-left: 400px;
  background-color: black;
  color: darkgray;
}

.calculator {
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(119, 118, 118);
  overflow: hidden;
  border: 10px;
  border-color: aqua;
  height: 470px;
  width: 340px;
}

.display {
  background-color: rgb(185, 185, 185);
  color: rgb(145,145,146);
  font-size: 1rem;
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  margin: 5%;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  padding: 20px;
  font-size: 1rem;
  border: none;
  background-color: rgb(218 218, 218);
  cursor: pointer;
  outline: none;
  border-radius: 0;
  transition: background-color 0.3s;
  margin: 10%;
}
.equal-size {
  height: 10px;
  width: 170%;
  margin-top: 30%;
  margin-bottom: 30%;
  background-color: rgb(13, 110, 253);
  color: #f9f9f9;
}
.keys {
  color: rgb(57, 2, 253);
}
.value {
  color: rgb(252, 38, 70);
}
title{
    display: flex;
    margin-top:600px;
    margin-top:10px;
}
h1{
  color: rgb(163, 22, 22);
}
